h1{
    color: blue;
}

.LoginContainer {
    position: absolute;
    padding: 10px;
    top: 10%; 
    left: 20%;
    z-index: 10;
    background-color: aliceblue;
    opacity: 0.8;
    display: grid
}

.MainMenuContainer {
    position: absolute;
    padding: 10px;
    top: 15%; 
    left: 5%;
    z-index: 10;
    background-color: aliceblue;
    opacity: 0.8;
    display: grid
}

.AddContainer {
    position: absolute;
    padding: 10px;
    top: 15%; 
    right: 15%;
    z-index: 1;
    background-color: aliceblue;
    opacity: 0.8;
    display: block
}

.EditContainer {
    position: absolute;
    padding: 10px;
    top: 15%; 
    right: 15%;
    z-index: 1;
    background-color: aliceblue;
    opacity: 0.8;
    display: block
}

